@charset "UTF-8";

input[type=checkbox] {
    position: absolute;
}

input[type=checkbox] + label {
    position: relative;
    display: inline-block;
    height: 16px;
    padding-left: 23px;
    background: #fff url(/common/img/ck_icon.jpg) 0 50% no-repeat;
    cursor: pointer;
    vertical-align: text-top;
}

input[type=checkbox]:checked + label {
    background: #fff url(/common/img/ck_icon_on.jpg) 0 50% no-repeat;
}

input[type=checkbox]:focus + label:before {
    content: '';
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    z-index: 6;
    border: 1px solid #006633;
    box-shadow: 0 0 1px 0 #006633;
    left: 0;
}


/* 내용 */
div.content_wrap {
	width: 1100px;
    padding-bottom: 90px;
    margin: 0 auto;
}

div.no_list {
    padding-top: 150px;
    text-align: center;
    width: 100%;
    color: #222;
}

div.no_list strong {
    color: #222;
    font-size: 26px;
    display: block;
}

div.no_list p {
    color: #444;
    font-size: 14px;
    line-height: 1.4;
    margin-top: 10px;
}

div.no_list a {
	display: inline-block;
    margin-top: 20px;
    background: #006633;
    color: #ffffff;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid #006633;
    box-sizing: border-box;
    width: 145px;
}

div.no_list a:after {
	content: '';
	padding-right: 12px;
	background: url(/common/img/icon_arrow_w.png) right center no-repeat;
}

/* 목록 */
div.cart_ctrl_btns {
	overflow: hidden;
	margin-bottom: 15px;
}

div.cart_ctrl_btns div.btn_check {
    float: left;
    padding-left: 2px;
    padding-top: 11px;
    position: relative;
}

div.cart_ctrl_btns div.btn_check label {
	font-weight: bold;
}

div.cart_ctrl_btns div.btn_delete {
	float: right;
}

div.cart_ctrl_btns div.btn_delete input[type=button] {
	display: block;
	height: 38px;
	padding: 0 10px;
    float: right;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
    color: #444;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

div.product_list table {
	width: 100%;
	margin-bottom: 40px;
}

div.product_list table th {
    font-size: 14px;
    color: #222222;
    padding: 17px 0;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

div.product_list table td {
    font-size: 14px;
    color: #666666;
    text-align: center;
    padding: 17px 0;
    border-bottom: 1px solid #dddddd;
    vertical-align: middle;
}

div.product_list table td.left {
    text-align: left;
    padding-left: 20px;
    line-height: 17px;
}

div.product_list table td.left strong {
	color: #444;
    font-size: 16px;
}

div.product_list table td.left span {
    display: block;
    font-size: 13px;
    color: #b0b0b0;
    margin-top: 5px;
}

div.product_list table td.left input[type=button] {
	padding: 3px 0;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 14px;
	cursor: pointer;
	box-sizing: border-box;
	margin-top: 10px;
	color: #444;
	width: 85px;
	border-radius: 4px;
}

div.product_list table td.btns input[type=button] {
	padding: 3px 0;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 14px;
	cursor: pointer;
	box-sizing: border-box;
	margin-top: 5px;
	color: #444;
	width: 90px;
}

div.total {
	overflow: hidden;
    width: 50%;
    margin: 0 auto;
    padding: 10px 0;
}

div.total div.total_price {
	float: left;
	width: 50%;
	text-align: center;
	margin-right: 20px;
	position: relative;
}

div.total div.total_price:after {
    content: "";
	position: absolute;
    top: -5px;
    width: 1px;
    height: 50px;
    margin-top: 2px;
    background-color: #e5e5e5;
    right: -1px;
}

div.total div.total_price dl {
	float: right;
	padding-right: 20px;
}

div.total div.total_price dl dt {
	display: block;
	float: left;
	line-height: 40px;
	font-weight: bold;
}

div.total div.total_price dl dd {
	display: block;
    float: left;
    margin-left: 15px;
    line-height: 40px;
    color: #006633;
    height: 40px;
}

div.total div.total_price dl dd span.price {
	font-size: 24px;
    font-family: tahoma, '맑은 고딕', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
    font-weight: bold;
}

div.total div.total_price dl dd span.won {
    font-size: 18px;
    position: relative;
    top: -1px;
    font-family: tahoma, '맑은 고딕', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
    font-weight: bold;
}

div.btn_order {
	float: right;
	width: 45%;
}

div.btn_order a {
    display: block;
    padding: 12px 0;
    box-sizing: border-box;
    border: 1px solid #006633;
    background: #006633;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}

div.btn_order a.disabled {
	background: #fff;
    border: 1px solid #ddd;
    color: #222;
}

