@charset "UTF-8";

/* 서브 타이틀 */
header.info_sub_tit_wrap {
	background: #231a11;
    height: 178px;
    position: relative;
    width: 100%;
}

div.info_sub_tit_bg {
	background: url(/common/img/sub_tit_bg.jpg);
    left: 50%;
    margin-left: -1000px;
    position: absolute;
    top: 0;
    width: 2000px;
}

div.info_sub_tit_inner {
    height: 74px;
    margin: 0 auto;
    padding-top: 104px;
    position: relative;
    width: 1100px;
}

div.info_sub_tit_inner h4 {
	font: bold 36px Avenir, Arial, georgia;
    color: #fefefe;
}

div.info_sub_tit_inner ul.smap {
    top: 128px;
}

div.info_sub_tit_inner ul.smap a {
    font: normal 12px Avenir, Arial, georgia;
    color: #fff;
}

div.info_sub_tit_inner ul.smap img.arrow {
    position: relative;
    top: 2px;
}

/* 내용 */
div.info_cont_wrap {
	margin: 50px auto;
    width: 1100px;
}

p.sitemap_tit {
    font-size: 18px;
    color: #222;
    font-weight: bold;
    margin-bottom: 15px;
}

table.sitemap {
    width: 100%;
}

table.sitemap th {
    width: 17%;
    vertical-align: top;
    padding: 40px 20px;
    background: #f4f4f2;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    color: #006633;
    font-weight: bold;
    text-align: left;
    line-height: 1.4;
    font-family: 'Arial';
}

table.sitemap th.fth {
    border-top: 1px solid #222;
}

table.sitemap th a {
    color: #006633;
}

table.sitemap td {
    width: 83%;
    padding: 40px 20px 10px 20px;
    border-bottom: 1px solid #ddd;
}

table.sitemap td.ftd {
    border-top: 1px solid #222;
}

table.sitemap td ul.sitemap {
    margin-bottom: 30px;
}

table.sitemap td ul.sitemap:after {
	content: "";
    display: block;
    clear: both;
}

table.sitemap td ul.sitemap > li {
    float: left;
    width: 25%;
}

table.sitemap td ul.sitemap dt {
    font-size: 14px;
    font-weight: bold;
    color: #222;
    margin-bottom: 15px;
    line-height: 1.4;
    width: 150px;
}

table.sitemap td ul.sitemap dd {
    font-size: 14px;
    color: #666;
    line-height: 1.8;
}

